.Sponsers
{
    background-color: #071E22;
    height: 80px;
}
.h1
{
    color: #E5F2FF;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 630px;
    padding-top: 5px;
}
.photos
{
    background-color: #E5F2FF;
    height: 80px;
}